# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Build / dist
dist/
build/
out/

# Logs
logs/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env / secrets
.env
.env.*

# documents to ignore
Logbook for Dissertation.docx
malware detecion project proposal.docx
Design/images/*.pdf
reports/
*.docx
*.pdf


#system dependencies required to install during the cuckoo host setup process after installing a Linux OS (e.g. Ubuntu)
#command used to install the dependencies:
sudo apt-get install -y \
  python python-pip python-dev \
  libffi-dev libssl-dev \
  python-virtualenv python-setuptools \
  libjpeg-dev zlib1g-dev swig \
  mongodb \
  tcpdump \
  apparmor-utils \
  virtualbox



